<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Ciclos Zazpe{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="{{asset('build/app.css')}}">
        <style>
            textarea {overflow:scroll; max-height:300px}
        </style>
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('homepage') }}">Ciclos Zazpe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('bike_new') }}">Añadir bici</a>
                </li>
            </ul>
        </div>
    </nav>

{% block body %}  {% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}">

    </script>
{% endblock %}

</body>
<footer class="footer">
            {% block footer %}{% endblock %}
</footer>

</html>
