{% extends 'base.html.twig' %}

{% block body %}

    

    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-image: url(https://www.giant.com.uy/wp-content/uploads/2017/12/Propel-Advanced-SL-Disc-banner.jpg); background-size: 100%; background-size: cover;height: 600px;">
            <div class="container">
                <h1 class="display-3">Ciclos Zazpe</h1>
                <p>Empresa familiar especializada en la venta de bicis desde los años 80</p>
                <p><a class="btn btn-primary btn-lg" href="{{ path('bike_new') }}" role="button">Añadir bici &raquo;</a></p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-8 mx-auto">
                    <h6 class="lead">Nuestras bicis...</h6>
                    <br>
                </div>
            </div>
            <div class="row bg-white">
                <div class="col-8 mx-auto ">
                    {% for bike in bikes %}
                        <li class="list-group-item">
                            <!-- Custom content-->
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1">
                                    {% if bike.category == "Ciudad" %}
                                        <h5 class="mt-0 font-weight-bold mb-2">{{ bike.getBrand().brand }} {{ bike.getName()}} </h5>
                                         <p class="font-italic text-muted mb-0 small">{{ bike.getCategory() }} <i class="material-icons" style="vertical-align: -3px;"> location_city</i></p>
                                    {% endif %}
                                    
                                    {% if bike.category == "Montaña" %}
                                        <h5 class="mt-0 font-weight-bold mb-2">{{ bike.getBrand().brand }} {{ bike.getName()}} </h5>
                                        <p class="font-italic text-muted mb-0 small">{{ bike.getCategory() }} <i class="material-icons" style="vertical-align: -5px;"> landscape</i></p>
                                    {% endif %}
                                    
                                    <p class="font-italic text-muted mb-0 small">{{ bike.getDescription() }}</p>
                                    <br>
                                    <a class="btn btn-outline-success mb-0"
                                       href="{{ path('bike_show', {'id':bike.id}) }}">Ver &raquo;</a>

                                </div><img src="{{ bike.getImage() }}" alt="Bike Image" width="200" class="ml-lg-5 order-1 order-lg-2">
                            </div> <!-- End -->
                        </li> <!-- End -->
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}

