{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bikes_categories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bikes_Category in bikes_Categories %}
            <tr>
                <td><a href="{{ path('bikes_categories_show', { 'id': bikes_Category.id }) }}">{{ bikes_Category.id }}</a></td>
                <td>{{ bikes_Category.category }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bikes_categories_show', { 'id': bikes_Category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bikes_categories_edit', { 'id': bikes_Category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bikes_categories_new') }}">Create a new bikes_Category</a>
        </li>
    </ul>
{% endblock %}
