{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bikes_category</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bikes_Category.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ bikes_Category.category }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bikes_categories_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bikes_categories_edit', { 'id': bikes_Category.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
