{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">

            <div class="col-8 mx-auto">
                <br>
                <br>
                <br>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> <span > <a href="{{ path('bike_show', {'id':bike.id}) }}"><i class="material-icons"> arrow_back</i></a>&nbsp;&nbsp;&nbsp;</span> Editar bici</h3>
                        <br>
                        <br>
                        <div class="card-text">

                            {{ form_start(edit_form, {'action': path('bike_edit', {'id':bike.id}), 'method':'POST'}) }}

                            <div class="border border-white row">
                                <label for="bName" class="col-4 col-form-label">{{ form_label(edit_form.name) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.name) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="bDescription" class="col-4 col-form-label">{{ form_label(edit_form.description) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.description) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="bImage" class="col-4 col-form-label">{{ form_label(edit_form.image) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.image) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="bCategory" class="col-4 col-form-label">{{ form_label(edit_form.category) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.category) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="bBrand" class="col-4 col-form-label">{{ form_label(edit_form.brand) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.brand) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="bUser" class="col-4 col-form-label">{{ form_label(edit_form.user) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.user) }}
                                </div>
                            </div>
                                <br>
                            <div class="border border-white  row">
                                <div class="col-sm-4 textarea">
                                    {{ form_widget(edit_form.save) }}
                                </div>
                            </div>
                        </div>

                        {{ form_end(edit_form) }}

                    </div>


                </div>

            </div>
        </div>
    </div>
{% endblock %}
