{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bikes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bike in bikes %}
            <tr>
                <td><a href="{{ path('bike_show', { 'id': bike.id }) }}">{{ bike.id }}</a></td>
                <td>{{ bike.name }}</td>
                <td>{{ bike.description }}</td>
                <td>{{ bike.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bike_show', { 'id': bike.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bike_edit', { 'id': bike.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bike_new') }}">Create a new bike</a>
        </li>
    </ul>
{% endblock %}
