{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">

            <div class="col-8 mx-auto">
                <br>
                <br>
                <br>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> <span > <a href="{{ path('homepage') }}"><i class="material-icons"> clear</i></a>&nbsp;&nbsp;&nbsp;&nbsp;</span>Añadir bici</h3>
                        <br>
                        <br>
                        <div class="card-text">

                            {{ form_start(form) }}

                            <div class="border border-white row">
                                <label for="bName" class="col-4 col-form-label">{{ form_label(form.name) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="bDescription" class="col-4 col-form-label">{{ form_label(form.description) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.description) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="bImage" class="col-4 col-form-label">{{ form_label(form.image) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.image) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="bCategory" class="col-4 col-form-label">{{ form_label(form.category) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.category) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="bBrand" class="col-4 col-form-label">{{ form_label(form.brand) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.brand) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="bUser" class="col-4 col-form-label">{{ form_label(form.user) }}</label>
                                <div class="col-8">
                                    {{ form_widget(form.user) }}
                                </div>
                            </div>
                                <br>
                            <div class="border border-white  row">
                                <div class="col-sm-4 textarea">
                                    {{ form_widget(form.save) }}

                                </div>

                            </div>
                        </div>
                        {{ form_end(form) }}



                    </div>


                </div>


            </div>
        </div>
    </div>
{% endblock %}
