{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4"><span > <a href="{{ path('homepage') }}"><i class="material-icons"> arrow_back</i></a>&nbsp;&nbsp;&nbsp;</span>{{ bike.name }} &nbsp;<small>{{bike.brand}}</small> </h1>
        
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="{{ bike.image }}" alt="">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Descripción</h3>
                <p>{{ bike.description }}</p>
                <h3 class="my-3">Categoría</h3>
                <ul>
                    <li>{{ bike.category }}</li>
                </ul>
                <h3 class="my-3">Marca</h3>
                <img  class="img-fluid" src="{{ bike.brand.image }}" alt="">
            </div>

        </div>
        <!-- /.row -->
        <br>
        <div class="card-footer bg-transparent justify-content-end">
            <a class="btn btn-outline-primary m-2"
               href="{{ path('bike_edit', {'id':bike.id}) }}">Editar</a>
            <a class="btn btn-outline-danger m-2"
               href="{{ path('bike_delete', {'id':bike.id}) }}">Eliminar</a>
        </div>

        
    {% endblock %}
