{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bikes_brands list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bikes_Brand in bikes_Brands %}
            <tr>
                <td><a href="{{ path('bikes_brands_show', { 'id': bikes_Brand.id }) }}">{{ bikes_Brand.id }}</a></td>
                <td>{{ bikes_Brand.brand }}</td>
                <td>{{ bikes_Brand.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bikes_brands_show', { 'id': bikes_Brand.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bikes_brands_edit', { 'id': bikes_Brand.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bikes_brands_new') }}">Create a new bikes_Brand</a>
        </li>
    </ul>
{% endblock %}
