{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bikes_brand</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bikes_Brand.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ bikes_Brand.brand }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ bikes_Brand.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bikes_brands_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bikes_brands_edit', { 'id': bikes_Brand.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
